{% extends "base_artigos.html" %}
{% block title %}{{ artigo.modalidade_artigo.nome|safe }}{% endblock %}
{% block data_json %}{{ artigo.corpo|tojson }}{% endblock %}
{% block artigo_grupos %}
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="modalidade_artigos" id="ma"
        onchange="selecionaGrupo()">
    {% for modalidade in modalidades_artigo %}
    <option value="{{ modalidade.id }}" id="ma{{ modalidade.id }}">{{ modalidade.nome }}</option>
    {% endfor %}
</select>
{% endblock %}
{% block artigo_id %}{{ artigo.id }}{% endblock %}
{% block modalidade_artigo_id %}{{ modalidades_artigo.0.id }}{% endblock %}
{% block push_artigo %}
<input class="col-12 btn-success" type="button" value="Criar Artigo" onclick="createArtigo()" style="display: none"
       id="ca">
<input class="col-12 btn-warning" type="button" value="Atualizar Artigo" onclick="updateArtigo()" style="display: none"
       id="aa">
{%  endblock %}
{% block lista_artigos %}
<ul class="list-group">
    {% if artigos %}
    <li class="list-group-item"><a href="/">Página Inicial</a></li>
    {% for artigo in artigos %}
    <li class="list-group-item text-break"><a href="/html/{{ artigo.id }}">{{ artigo.titulo|safe }}</a></li>
    {% endfor %}
    {% endif %}
</ul>
{%  endblock %}
